.{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    .unit{
      display: flex;
      /*grid-template-columns: repeat(2, auto);*/
      gap: 0.1em;
      width: max-content;
    }
    
    .rect{
    width: 150px;
    height: 20px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 2px;
    }
    .row {
      margin-left:-5px;
      margin-right:-5px;
    }
    .table1 {
    /*background-color: red;*/
      float: left;
      width: max-content;
      padding: 5px;
    }
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    /*  
    .table1 {
    padding: 5px;
    float:  left;
    display: inline
     
    }
    .table2 {
    padding: 5px;
    float:  left;
    display: inline;
    
    }
    */
    
    .sqr{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 2px;
    /*float: right;*/
    }
    
    .unit2{
    display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 0.1em;
      width: max-content;
      position: absolute;
      top: 200px;
      left: 400px;
    }