.cover{
    background: url(https://images.pexels.com/photos/2387873/pexels-photo-2387873.jpeg) no-repeat left;
    background-size: 100%;
    height: 800px;
    background-color: #fdfdfd;
    overflow: auto;
    padding-right: 150px; 
    text-align: justify;
    /* filter: blur(1px); */
    opacity: 0.9;
}
@media screen and (max-width:1000px){
    .cover{
        background-size: 100%;
    }
}

@media screen and (max-width:1000px){
    .cover{
        padding: 0;
    }
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    background-image: url("https://images.pexels.com/photos/61135/pexels-photo-61135.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  form {
    margin-left: 35%;
    margin-bottom:40px;
    margin-top:100px;
    /* display:flex; */
    /* justify-items: end; */
    max-width: 300px;
    /* margin: 10px auto; */
    padding: 10px 20px;
    background: #f4f7f8;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  h6{
    padding-bottom: 40px;
  }

  input[type="text"],
  input[type="date"],
  input[type="datetime"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 15px;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  label{
    font-size: small;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #780f98;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #780f98;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    cursor:pointer;
  }


  fieldset {
    margin-bottom: 15px;
    border: none;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }

  @media screen and (min-width: 480px) {  
    form {
      max-width: 480px;
    }

}